.loader {
  width: 5rem;
  height: 8rem;
  border-radius: 10px;
  background-image: url('../../cards-images/backcard.jpg');
  background-size: 5rem 8rem ;
  background-repeat: no-repeat;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}